<div class="column is-half">
    <article class="media box">
        <figure class="image is-5">
            <p class="image is-64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </p>
        </figure>
            <div class="media-content">

            </div>
    </article>
</div>

<% @shouts.each do | shout | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <strong>James Randolph</strong><br />
                    <p><%= shout.shout %></p>
                </div>
                <nav class="level">
                    <div class="level-left is-mobile">
                        <% link_to shout, class: "level-item" do %>
                        <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                        <% end %>
            </div>
        </article>
    </div>
<% end %>