<div class="column is-half">
    <article class="media box">
        <figure class="image is-5">
            <p class="image is-64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </p>
        </figure>
            <div class="medida-content">

            </div>
    </article>
</div>

<% shouts.each do | shout | %>
    <% end %>