<div class="column is-one-quarter">
	<nav class="panel">
<<<<<<< HEAD
		<p class="panel-heading">Trending Now</p>
		<a class="panel-block" href="https://www.linkedin.com/in/jmrandolph/" target="_blank">
			Developer for Hire
		</a>
		<a class="panel-block" href="https://docs.google.com/presentation/d/1au4Q-XOOx3i9_BLgN-YHD036pmA6waha5UgCkiJZTZ4/edit?usp=sharing" target="_blank">
			This Great Resume
=======
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			Trend 1
		</a>
		<a class="panel-block">
			Trend 2
		</a>
		<a class="panel-block">
			Trend 3
		</a>
		<a class="panel-block">
			Trend 4
		</a>
		<a class="panel-block">
			Trend 5
		</a>
		<a class="panel-block">
			Trend 6
>>>>>>> e5dbff343c8745a2ce35e9af423d8b3543f514c7
		</a>
	</nav>
</div>