<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trending Now</p>
		<a class="panel-block" href="https://www.linkedin.com/in/jmrandolph/" target="_blank">
			Developer for Hire
		</a>
		<a class="panel-block" href="https://docs.google.com/presentation/d/1au4Q-XOOx3i9_BLgN-YHD036pmA6waha5UgCkiJZTZ4/edit?usp=sharing" target="_blank">
			This Great Resume
		</a>
	</nav>
</div>